/* Basic Style */
body {
    font-family: Lato, sans-serif;
    color: rgb(51, 51, 51);
    background-color: rgb(247, 247, 247);
}

.image-block {
    width: 500px;
    margin: 0 auto;
    text-align: right;
}

.image-block__img {
    width: 100%;
}

.image-block__link {
    font-family: fantasy, cursive;
}

@media (max-width: 768px) {

    .image-block {
        text-align: center;
    }

}

.todo-app {
    width: 500px;
    margin: 0 auto;
}

.task {
    width: 56%;
    display: inline-block;
    flex-grow: 1
}

.todo-row-wrapper {
    display: flex;
}

ul {
    margin: 0;
    padding: 0px;
}

li {
    list-style: none;
}

input,
button {
    outline: none;
}

button {
    width: 60px;
    font-family: Lato, sans-serif;
    font-size: 15px;
    color: rgb(136, 136, 136);
    border: 0px;
    cursor: pointer;
    background: none;
}

button:hover {
    color: #3a3A3a;
}

.todo-app__added {
    padding-top: 30px;
}

.todo-app__checked {
    padding-top: 30px;
}

.todo-app__done {
    padding-top: 30px;
}

/* Heading */
h3 {
    font-size: 15px;
    color: #333;
    font-weight: 700;
    border-bottom: 2px solid rgb(51, 51, 51);
    margin: 0;
    text-transform: uppercase;
}

input {
    height: 21px;
    padding: 0 9px;
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: rgb(136, 136, 136);
    margin: 0;
    border: 1px solid rgb(221, 221, 221);
    background: rgb(255, 255, 255);
    border-radius: 6px;
}

input:focus {
    color: rgb(51, 51, 51);
}

/* New Task */
.todo-add {
    margin-bottom: 20px;
}

/* Task list */
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(238, 238, 238);
}

li>input[type="checkbox"] {
    margin: 0 10px;
}

li>label {
    font-size: 18px;
    padding-left: 10px;
}

.delete img {
    width: 2em;
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.delete img:hover {
    transform: rotateZ(0);
}

/* Completed */
ul#completed-tasks label {
    text-decoration: line-through;
    color: rgb(136, 136, 136);
}

/* Edit Task */
ul li input[type=text] {
    display: none;
    width: 224px;
}

ul li.edit-mode input[type=text] {
    display: inline-block;
    width: 224px
}

ul li.edit-mode label {
    display: none;
}